@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap&subset=cyrillic-ext");

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-fb:before {
  content: "\e900";
}

._icon-twit:before {
  content: "\e901";
}

._icon-insta:before {
  content: "\e902";
}

._icon-Linkedin:before {
  content: "\e903";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Poppins";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #263238;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1138px;
  margin: 0 auto;
}

.form__body {
  max-width: 550px;
  margin: 0 auto;
  color: white;
  position: relative;
}

.form__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.9) url(../img/icons/loading.gif) center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form__body._sender::before {
  opacity: 1;
  visibility: visible;
}

.form__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}

.form__item {
  margin-bottom: 20px;
}

.form__item textarea {
  min-height: 120px;
  resize: vertical;
  padding: 20px;
}

.form__label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

.form__input {
  height: 50px;
  padding: 0px 20px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form__input:hover {
  -webkit-box-shadow: 0 0 15px rgb(104, 99, 99);
          box-shadow: 0 0 15px rgb(104, 99, 99);
}

.form__input._error {
  -webkit-box-shadow: 0 0 20px rgb(132, 28, 28);
          box-shadow: 0 0 20px rgb(132, 28, 28);
}

.form__button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  background-color: #000;
  letter-spacing: 2px;
  color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px rgba(41, 30, 30, 0.2);
          box-shadow: 5px 5px 5px rgba(41, 30, 30, 0.2);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  top: 0;
}

.form__button:hover {
  background-color: rgb(50, 43, 43);
}

.form__button:active {
  top: 3px;
  -webkit-box-shadow: 2px 2px 2px rgba(41, 30, 30, 0.2);
          box-shadow: 2px 2px 2px rgba(41, 30, 30, 0.2);
}

.checkbox._error {
  -webkit-box-shadow: 0 0 20px rgb(132, 28, 28);
          box-shadow: 0 0 20px rgb(132, 28, 28);
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
  /* &__input {
  	position: absolute;
  	width: 0;
  	height: 0;
  	opacity: 0;
  	visibility: hidden;
  	&:checked + .checkbox__text:before {
  		background: #fff url("../img/icons/check.svg") center no-repeat;
  	}
  } */
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

/* @import "ui"; */

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: rgb(128, 121, 121);
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 90;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.header__container {
  padding: 0px 6px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_active {
  background-color: #fff;
}

.main_logo {
  font-size: 28px;
  text-transform: uppercase;
  color: #000;
}

.main_logo span {
  color: rgb(237, 15, 15);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.menu__item {
  margin: 0px 30px 0px 0px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: inherit;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link:hover {
  color: rgb(237, 15, 15);
  text-decoration: underline;
}

.menu__link:focus {
  color: rgb(237, 15, 15);
}

.icon-menu {
  display: none;
}

footer {
  background: #b7cad4;
}

.footer__container {
  padding: 40px 40px;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__tel {
  margin-left: 20px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo img {
  max-width: 100%;
  height: auto;
}

.social__item {
  margin-left: 30px;
  font-size: 30px;
  color: #000;
}

.social__item:hover {
  color: rgb(237, 15, 15);
}

.presentation {
  padding-top: 100px;
}

.pres__contatiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 66px;
  margin-bottom: 150px;
}

.pres__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-right: 30px;
}

.pres__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 30px;
}

.pres__title-wrapper img {
  position: absolute;
  width: 100px;
  right: 7%;
  top: 55%;
}

.pres__title {
  font-weight: 600;
  font-size: 54px;
  line-height: 70px;
  color: #000;
  position: relative;
}

.pres__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #8F95A5;
  margin-bottom: 61px;
}

.pres__btn {
  display: inline-block;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  background: #263238;
  border-radius: 15px;
  padding: 25px 100px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.pres__btn:focus,
.pres__btn:hover {
  color: rgb(237, 15, 15);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.pres__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  color: #000;
  text-align: center;
}

.skills__title {
  margin-bottom: 92px;
}

.skills__items {
  display: -ms-grid;
  display: grid;
  min-height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 18px;
  -ms-grid-rows: auto 18px auto 18px auto;
      grid-template-areas: "speakin write read" "speakin write read" "speakin listin listin";
}

.skill__item {
  position: relative;
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 0px 25px 25px 25px;
}

.skill__item-img img {
  max-width: 100%;
}

.skill__item-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 80px;
  margin: 5px 0px;
}

.skill__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8F95A5;
  margin-bottom: 70px;
}

.skill__item-btn {
  position: absolute;
  bottom: 25px;
}

.item-speaking {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  grid-area: speakin;
  padding-top: 80px;
}

.btn {
  color: #fff;
  display: inline-block;
  padding: 15px 50px;
  background-color: #263238;
  border-radius: 5px;
}

.btn:focus,
.btn:hover {
  color: rgb(237, 15, 15);
}

.item-writing {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: write;
}

.item-reading {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  grid-area: read;
}

.item-listening {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: listin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.list-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-right: 40px;
}

.values-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.about {
  margin-top: 150px;
  margin-bottom: 150px;
}

.about_values {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about_values-num {
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
}

.about_values-suscribe {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8F95A5;
}

.about__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 23px 0px 30px 0px;
  color: #8F95A5;
}

.price__container {
  margin-bottom: 200px;
}

.price__title {
  margin-bottom: 40px;
}

.price__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}

.price__item {
  position: relative;
}

.price__item-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  margin-bottom: 19px;
  margin-top: 20px;
}

.price__image-ibg img {
  max-height: 283px;
}

.price__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8F95A5;
  margin-bottom: 60px;
}

.price__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #EEEEEE;
  max-width: 240px;
  height: 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #546269;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.price__cost span {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #263238;
  margin-right: 10px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: none;
     object-fit: none;
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1150px) {
  ._container {
    max-width: 970px;
  }

  .about {
    margin-top: 92px;
  }

  .price__items {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .footer__container {
    padding: 30px 30px;
  }

  .pres__contatiner {
    margin-top: 45px;
    margin-bottom: 100px;
  }

  .pres__title-wrapper img {
    max-width: 70px;
    right: 7%;
    top: 63%;
  }

  .pres__title {
    font-size: 48px;
    line-height: 56px;
  }

  .pres__text {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 45px;
  }

  .pres__btn {
    font-size: 24px;
    line-height: 36px;
    padding: 23px 80px;
  }

  .skills__title {
    margin-bottom: 62px;
    font-size: 40px;
    line-height: 70px;
  }

  .skills__items {
        grid-template-areas: "speakin write " "speakin write " "read listin" "read listin";
  }

  .skill__item {
    min-height: 600px;
  }

  .skill__item-img img {
    max-height: 211px;
  }

  .skill__item-title {
    line-height: 50px;
  }

  .item-speaking {
    padding-top: 0px;
  }

  .item-listening {
    display: block;
  }

  .about {
    margin-top: 62px;
    margin-bottom: 100px;
  }

  .about__title {
    font-size: 40px;
    line-height: 70px;
  }

  .about__text {
    font-size: 16px;
    line-height: 24px;
  }

  .price__container {
    margin-bottom: 150px;
  }

  .item-speaking {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }

  .item-writing {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
  }

  .item-reading {
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }

  .item-listening {
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 15px;
  }

  .form__title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .form__item {
    margin-bottom: 15px;
  }

  .form__label {
    font-size: 16px;
  }

  .header__container {
    padding: 0px 15px;
    height: 80px;
  }

  .main_logo {
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 21px;
    z-index: 3;
  }

  .menu__list {
    display: block;
    text-align: left;
  }

  .menu__link {
    line-height: 60px;
    font-size: 22px;
  }

  .menu__body {
    -webkit-transform: translate(-100%, 0px);
        -ms-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: fixed;
    width: 70%;
    height: 100%;
    top: 70px;
    left: 0px;
    overflow: auto;
    padding: 60px 10px 30px 10px;
    background-color: #fff;
    z-index: 2;
  }

  .menu__body._active {
    -webkit-transform: translate(0%, 0px);
        -ms-transform: translate(0%, 0px);
            transform: translate(0%, 0px);
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 44px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
    width: 70%;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
    width: 100%;
  }

  .footer__container {
    padding: 15px 20px;
  }

  .footer__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__logo {
    margin-bottom: 10px;
  }

  .pres__title-wrapper img {
    top: 0;
  }

  .pres__title {
    font-size: 40px;
    line-height: 45px;
  }

  .pres__text {
    margin: -10px 0px 50px 0px;
  }

  .skills__title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 50px;
  }

  .skills__items {
        grid-template-areas: "speakin" "write " "read " "listin ";
  }

  .skill__item {
    min-height: 100%;
  }

  .values-wrapper {
    margin-bottom: 20px;
  }

  .about {
    margin-bottom: 80px;
  }

  .about_values-num {
    font-size: 36px;
    line-height: 60px;
  }

  .about__container {
    display: block;
  }

  .about__title {
    font-size: 36px;
    line-height: 50px;
  }

  .about__image img {
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
  }

  .price__container {
    margin-bottom: 100px;
  }

  .price__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .price__image-ibg img {
    max-width: 230px;
  }

  .item-speaking {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }

  .item-writing {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }

  .item-reading {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }

  .item-listening {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}

@media (max-width: 767.98px) and (max-width: 767.98px) {
  .icon-menu {
    top: 22px;
  }
}

@media (max-width: 560px) {
  .pres__contatiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 20px;
    margin-bottom: 70px;
  }
}

@media (max-width: 479.98px) {
  .pres__content {
    text-align: center;
  }

  .pres__title-wrapper img {
    display: none;
  }

  .pres__btn {
    display: inherit;
  }

  ._ibg img {
    position: inherit;
    height: 100vw;
  }
}